Repository mattiIce/PBX: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core PBX, REST API, SIP Protocol, Feature Modules

Modernize RTP jitter buffer, TLS, API config routes, integrations, tests
  admin/js/pages/license.ts
  admin/js/pages/paging.ts
  admin/js/pages/phone_book.ts
  admin/js/pages/security.ts
  modernize_features3.py
  pbx/api/routes/config.py
  pbx/api/routes/license.py
  pbx/integrations/active_directory.py
  pbx/rtp/jitter_buffer.py
  pbx/utils/tls_support.py
  scripts/check_fips_health.py
  scripts/cleanup_config_extensions.py
  tests/test_sip_send_integration.py
Due: unittests, REST API

Modernize call quality prediction, RTCP monitor, audit logger, voicemail handler
  admin/js/auto_attendant.js
  pbx/core/voicemail_handler.py
  pbx/features/call_quality_prediction.py
  pbx/rtp/rtcp_monitor.py
  pbx/utils/audit_logger.py
Due: unittests, Core PBX, Feature Modules

Modernize API schemas, e911, scripts, tests, frontend JS
  admin/js/auto_attendant.js
  admin/js/opensource_integrations.js
  pbx/api/rest_api.py
  pbx/api/schemas/__init__.py
  pbx/api/schemas/config.py
  pbx/core/voicemail_handler.py
  pbx/features/dnd_scheduling.py
  pbx/rtp/rfc2833.py
  pbx/utils/audit_logger.py
  pbx/utils/e911_protection.py
  scripts/dtmf_payload_selector.py
  scripts/export_all_templates.py
  scripts/generate_ssl_cert.py
  scripts/update_phone_extension.py
  tests/test_basic.py
Due: unittests, Core PBX, REST API, Feature Modules

Modernize TTS, voicemail handler, health monitor, frontend JS
  admin/js/opensource_integrations.js
  pbx/core/voicemail_handler.py
  pbx/utils/tts.py
  scripts/health_monitor.py
  scripts/update_phone_extension.py
  tests/test_extends.py
Due: unittests, Core PBX

Modernize API utils, paging handler, audio, production health, migration scripts
  admin/js/opensource_integrations.js
  admin/js/webrtc_phone.js
  pbx/api/routes/license.py
  pbx/api/utils.py
  pbx/core/paging_handler.py
  pbx/utils/audio.py
  pbx/utils/production_health.py
  scripts/init_database.py
  scripts/migrate_extensions_to_db.py
  scripts/migrate_passwords_to_database.py
  scripts/test_menu_endpoints.py
Due: unittests, Core PBX, REST API

Modernize graceful shutdown, install integrations, voicemail enhanced JS
  admin/js/framework_features.js
  admin/js/voicemail_enhanced.js
  pbx/utils/graceful_shutdown.py
  scripts/install_integrations.py
Due: unittests

Modernize framework features JS, graceful shutdown, import/install scripts
  admin/js/framework_features.js
  pbx/utils/graceful_shutdown.py
  pbx/utils/prometheus_exporter.py
  scripts/import_merlin_voicemail.py
  scripts/install_integrations.py
Due: unittests

Modernize prometheus exporter, CSS, frontend JS, test scripts
  admin/css/base.css
  admin/css/layout.css
  admin/js/framework_features.js
  pbx/utils/prometheus_exporter.py
  scripts/import_merlin_voicemail.py
  scripts/sync_ad_users.py
  scripts/test_moh.py
Due: unittests

Modernize licensing, CSS components/layout, scripts
  admin/css/components.css
  admin/css/layout.css
  pbx/utils/licensing.py
  pbx/utils/prometheus_exporter.py
  scripts/list_extensions_from_db.py
  scripts/test_soc2_controls.py
Due: unittests

Modernize licensing module, CSS, and Jest test
  admin/css/components.css
  admin/tests/refresh-all.test.js
  admin/tests/voicemail.test.js
  pbx/utils/licensing.py
Due: unittests

Modernize TypeScript config and Vite config
  admin/js/admin.js
  admin/tsconfig.json
  admin/vite.config.js
  scripts/verify_fips.py
  scripts/verify_qos_fix.py
Due: none

Modernize admin JS, setup/verify scripts with pathlib and type annotations
  admin/js/admin.js
  pbx/utils/security_middleware.py
  scripts/setup_integrations.py
  scripts/setup_phone_provisioning.py
  scripts/test_webrtc_audio.py
  scripts/verify_fips.py
  scripts/verify_qos_fix.py
Due: unittests

Modernize utils migrations, security middleware, remaining scripts
  admin/js/admin.js
  pbx/utils/migrations.py
  pbx/utils/security_middleware.py
  scripts/load_test_sip.py
  scripts/request_ca_cert.py
  scripts/setup_phone_provisioning.py
  scripts/setup_ubuntu.py
  scripts/test_webrtc_audio.py
Due: unittests

Modernize config validator, benchmark/security/DB scripts, admin JS
  admin/js/admin.js
  pbx/utils/config_validator.py
  pbx/utils/security_monitor.py
  scripts/benchmark_performance.py
  scripts/check_voicemail_storage.py
  scripts/security_compliance_check.py
  scripts/seed_extensions.py
  scripts/test_audio_comprehensive.py
  scripts/verify_database.py
Due: unittests

Modernize security monitor, compliance/validation scripts
  admin/js/admin.js
  pbx/utils/security_monitor.py
  scripts/compliance_report.py
  scripts/convert_troubleshooting_to_html.py
  scripts/letsencrypt_manager.py
  scripts/security_compliance_check.py
  scripts/seed_extensions.py
  scripts/smoke_tests.py
  scripts/validate_production_readiness.py
  scripts/verify_backup.py
  scripts/verify_database.py
Due: unittests

Modernize security utils, license manager, production/setup scripts
  admin/js/admin.js
  pbx/utils/security.py
  scripts/license_manager.py
  scripts/production_health_check.py
  scripts/production_validation.py
  scripts/setup_env.py
  scripts/setup_production_env.py
  scripts/test_ad_integration.py
  scripts/troubleshoot_provisioning.py
Due: unittests

Modernize DTMF utils, session token, security, remaining scripts
  pbx/utils/dtmf.py
  pbx/utils/security.py
  pbx/utils/session_token.py
  scripts/license_manager.py
  scripts/test_disaster_recovery.py
Due: unittests

Modernize TypeScript API client, state store, types, and remaining scripts
  admin/js/api/client.ts
  admin/js/state/store.ts
  admin/js/types/window.d.ts
  admin/tsconfig.json
  pbx/utils/security.py
  scripts/convert_troubleshooting_to_html.py
  scripts/load_test_sip.py
  scripts/test_webrtc_audio.py
Due: unittests

Modernize TypeScript API client, extensions page, window types
  admin/js/api/client.ts
  admin/js/pages/extensions.ts
  admin/js/pages/provisioning.ts
  admin/js/types/window.d.ts
Due: none

Fix 13 critical ruff issues: F401, F821, DTZ, B904, PTH, PLC0206
  admin/js/pages/provisioning.ts
  pbx/api/routes/license.py
  pbx/features/phone_provisioning.py
  pbx/features/skills_routing.py
  pbx/features/statistics.py
  pbx/integrations/active_directory.py
  pbx/utils/security.py
  scripts/generate_ssl_cert.py
  scripts/init_database.py
  scripts/smoke_tests.py
  tests/test_graceful_degradation_postgresql.py
  tests/test_setup_wizard.py
Due: unittests, REST API, Feature Modules

Modernize pyproject.toml lint config, fix SIM/PERF issues in features and API
  pbx/api/routes/calls.py
  pbx/api/routes/features.py
  pbx/api/routes/framework.py
  pbx/api/routes/qos.py
  pbx/api/routes/static.py
  pbx/api/routes/voicemail.py
  pbx/core/call.py
  pbx/core/pbx.py
  pbx/core/voicemail_handler.py
  pbx/features/call_recording_analytics.py
  pbx/features/call_tagging.py
  pbx/features/click_to_dial.py
  pbx/features/compliance_framework.py
  pbx/features/crm_integrations.py
  pbx/features/find_me_follow_me.py
  pbx/features/music_on_hold.py
  pbx/features/nomadic_e911.py
  pbx/features/speech_analytics.py
  pbx/features/team_collaboration.py
  pbx/features/video_conferencing.py
  pbx/features/webrtc.py
  pyproject.toml
Due: unittests, Core PBX, REST API, Feature Modules

Fix SIM/PERF/style issues across features, integrations, SIP, utils, scripts
  pbx/core/voicemail_handler.py
  pbx/features/ai_call_routing.py
  pbx/features/auto_attendant.py
  pbx/features/call_tagging.py
  pbx/features/data_residency_controls.py
  pbx/features/g726_codec.py
  pbx/features/mfa.py
  pbx/features/video_codec.py
  pbx/integrations/active_directory.py
  pbx/integrations/outlook.py
  pbx/sip/sdp.py
  pbx/utils/env_loader.py
  pbx/utils/tts.py
  scripts/convert_troubleshooting_to_html.py
  scripts/health_monitor.py
  scripts/setup_production_env.py
  scripts/test_ad_integration.py
Due: unittests, Core PBX, SIP Protocol, Feature Modules

Fix subprocess.run check, SIM, PERF, style issues in features, scripts, tests
  pbx/features/mfa.py
  pbx/features/presence.py
  pbx/features/voicemail.py
  pbx/integrations/active_directory.py
  pbx/integrations/matrix.py
  scripts/benchmark_performance.py
  scripts/compliance_report.py
  scripts/health_monitor.py
  scripts/production_validation.py
  scripts/security_compliance_check.py
  scripts/test_ad_integration.py
  scripts/validate_production_readiness.py
  scripts/verify_backup.py
  scripts/verify_fips.py
  tests/test_quick_setup.py
  tests/test_security_compliance.py
  tests/test_voicemail_access_contact_header.py
Due: unittests, Feature Modules

Fix pathlib, subprocess, SIM115 in RTP handler, database, scripts
  pbx/rtp/handler.py
  pbx/utils/database.py
  scripts/generate_ssl_cert.py
  scripts/install_integrations.py
  scripts/request_ca_cert.py
  scripts/setup_production_env.py
  scripts/setup_ubuntu.py
Due: unittests

Fix style issues in features, scripts, and tests
  pbx/features/ai_call_routing.py
  pbx/features/call_quality_prediction.py
  pbx/features/call_tagging.py
  pbx/features/predictive_voicemail_drop.py
  pbx/features/speech_analytics.py
  pbx/features/voice_biometrics.py
  scripts/test_disaster_recovery.py
  tests/test_database_permissions.py
  tests/test_extends.py
Due: unittests, Feature Modules

Fix style issues in voicemail, biometrics, tests, and scripts
  pbx/core/voicemail_handler.py
  pbx/features/voice_biometrics.py
  pbx/features/voicemail.py
  scripts/load_test_sip.py
  scripts/test_disaster_recovery.py
  tests/test_api_graceful_degradation.py
  tests/test_api_server_retry.py
  tests/test_database_permissions.py
  tests/test_dtmf_config_api.py
  tests/test_emergency_tables.py
  tests/test_extensions_schema_migration.py
  tests/test_fmfm_persistence.py
  tests/test_fmfm_save_failure.py
  tests/test_mfa.py
  tests/test_sip_send_integration.py
  tests/test_threat_detection.py
  tests/test_voicemail_fixes.py
  tests/test_voicemail_ivr_early_termination.py
Due: unittests, Core PBX, Feature Modules

Fix remaining style issues in API, features, scripts, and tests
  pbx/api/routes/calls.py
  pbx/core/voicemail_handler.py
  pbx/features/bi_integration.py
  pbx/features/voicemail.py
  scripts/setup_integrations.py
  scripts/test_disaster_recovery.py
  tests/integration/test_provisioning_flow.py
  tests/test_tls13_support.py
  tests/test_transaction_rollback.py
  tests/test_voicemail_database.py
  tests/test_voicemail_ivr.py
Due: unittests, Core PBX, REST API, Feature Modules

Fix N806 variable naming in codec modules and e911 protection
  pbx/features/g726_codec.py
  pbx/features/karis_law.py
  pbx/features/mfa.py
  pbx/features/opus_codec.py
  pbx/features/speex_codec.py
  pbx/utils/e911_protection.py
  pbx/utils/env_loader.py
  pbx/utils/logger.py
Due: unittests, Feature Modules

Fix RUF012 ClassVar, style issues in security, middleware, tests
  pbx/features/stir_shaken.py
  pbx/sip/sdp.py
  pbx/utils/security.py
  pbx/utils/security_middleware.py
  scripts/setup_integrations.py
  tests/test_webhooks.py
Due: unittests, SIP Protocol, Feature Modules

Fix N806, SIM, B025 in SIP SDP, database, utils, scripts
  pbx/sip/sdp.py
  pbx/utils/database.py
  pbx/utils/dependency_checker.py
  pbx/utils/env_loader.py
  pbx/utils/tts.py
  scripts/setup_env.py
Due: unittests, SIP Protocol

Fix style in conversational_ai and setup_production_env
  pbx/features/conversational_ai.py
  scripts/setup_production_env.py
Due: unittests, Feature Modules

Fix critical datetime timezone issues found in audit
  pbx/features/emergency_notification.py
  scripts/health_monitor.py
Due: unittests, Feature Modules

Modernize Python syntax: isinstance unions, remove .keys(), simplify dict copies
  pbx/api/routes/framework.py
  pbx/api/utils.py
  pbx/features/bi_integration.py
  pbx/features/call_parking.py
  pbx/features/dnd_scheduling.py
  pbx/features/mfa.py
  pbx/features/mobile_push.py
  pbx/features/music_on_hold.py
  pbx/features/phone_provisioning.py
  pbx/features/voice_biometrics.py
  pbx/features/webrtc.py
  pbx/utils/env_loader.py
  pbx/utils/production_health.py
  pbx/utils/security.py
  scripts/setup_integrations.py
  tests/test_ad_search_api.py
Due: unittests, REST API, Feature Modules

Add missing type annotations to core modules
  pbx/rtp/jitter_buffer.py
  pbx/rtp/rtcp_monitor.py
  pbx/utils/database.py
  pbx/utils/e911_protection.py
  pbx/utils/license_admin.py
Due: unittests

Convert open() calls to Path.open() across API routes and features
  pbx/api/routes/calls.py
  pbx/api/routes/config.py
  pbx/api/routes/static.py
  pbx/api/routes/voicemail.py
  pbx/features/ai_call_routing.py
  pbx/features/auto_attendant.py
  pbx/features/cdr.py
  pbx/features/email_notification.py
  pbx/features/operator_console.py
  pbx/features/statistics.py
  pbx/features/stir_shaken.py
Due: unittests, REST API, Feature Modules

Path conditions:
  unittests: any of: pbx/, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  Core PBX: any of: pbx/core/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  REST API: any of: pbx/api/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  SIP Protocol: any of: pbx/sip/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  Feature Modules: any of: pbx/features/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
