Repository mattiIce/PBX: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core PBX, REST API, SIP Protocol, Feature Modules

Temporary: bump AD sync debug logs to ERROR level for visibility
  pbx/integrations/active_directory.py
Due: unittests

Temporary: add print() debug statements to bypass logger
  pbx/core/pbx.py
  pbx/integrations/active_directory.py
Due: unittests, Core PBX

Debug: convert all AD-DEBUG logging to print(stderr)
  pbx/integrations/active_directory.py
Due: unittests

Debug: trace per-user AD attribute values in sync loop
  pbx/integrations/active_directory.py
Due: unittests

Debug: trace DB operations and per-user exceptions in AD sync
  pbx/integrations/active_directory.py
Due: unittests

Debug: trace DB get/update/add results in AD sync
  pbx/integrations/active_directory.py
Due: unittests

Debug: trace DB execute and _execute_with_context internals
  pbx/utils/database.py
Due: unittests

Fix AD sync: add missing DB columns and remove debug traces
  pbx/core/pbx.py
  pbx/integrations/active_directory.py
  pbx/utils/database.py
Due: unittests, Core PBX

Fix missing Authorization headers across all vanilla JS files
  admin/index.html
  admin/js/auto_attendant.js
  admin/js/framework_features.js
  admin/js/opensource_integrations.js
  admin/js/voicemail_enhanced.js
  admin/js/webrtc_phone.js
Due: none

Fix page layout not scaling on window resize
  admin/css/admin.css
Due: none

Serve admin panel from Vite-built dist directory
  admin/dist/assets/favicon-192-D3qdEI9i.png
  admin/dist/assets/favicon-512-BCF-tvk5.png
  admin/dist/assets/favicon-BQap4sXP.ico
  admin/dist/assets/main-COSEM5Tz.js
  admin/dist/assets/main-DZERAarJ.css
  admin/dist/assets/warden-voip-logo-6PQKg6cj.png
  admin/dist/index.html
  admin/dist/js/auto_attendant.js
  admin/dist/js/framework_features.js
  admin/dist/js/opensource_integrations.js
  admin/dist/js/voicemail_enhanced.js
  admin/dist/js/webrtc_phone.js
  admin/dist/login.html
  pbx/api/app.py
Due: unittests, REST API

Implement WebRTC-to-SIP audio bridge using aiortc
  admin/dist/js/webrtc_phone.js
  admin/js/webrtc_phone.js
  pbx/api/routes/webrtc.py
  pbx/core/pbx.py
  pbx/features/webrtc.py
Due: unittests, Core PBX, REST API, Feature Modules

Add missing form submit handlers for extension add/edit
  admin/dist/assets/main-COSEM5Tz.js
  admin/dist/assets/main-FcqAXBAU.js
  admin/dist/index.html
  admin/js/pages/extensions.ts
Due: none

Fix sidebar navigation not scaling with page on resize
  admin/css/admin.css
  admin/css/layout.css
  admin/dist/assets/main-BmpXEIL6.css
  admin/dist/assets/main-C7Bon6Y9.js
  admin/dist/assets/main-DZERAarJ.css
  admin/dist/index.html
Due: none

Add hamburger menu toggle for mobile sidebar navigation
  admin/css/admin.css
  admin/dist/assets/main-BmpXEIL6.css
  admin/dist/assets/main-DVqYDz5R.css
  admin/dist/assets/main-DwSSSeUR.js
  admin/dist/index.html
  admin/index.html
Due: none

Fix broken license management module - add all missing functions
  admin/dist/assets/main-BV5_RpmI.js
  admin/dist/assets/main-DwSSSeUR.js
  admin/dist/index.html
  admin/js/pages/license.ts
Due: none

Fix perpetual license missing 5 enterprise features
  pbx/utils/licensing.py
Due: unittests

Add uv.lock for reproducible dependency resolution
  uv.lock
Due: none

Fix license lock file and .env path in toggle route
  pbx/api/routes/license.py
Due: unittests, REST API

Implement all 14 coming-soon modal placeholders with backend API integration
  admin/js/framework_features.js
  admin/js/pages/speech-analytics.ts
  admin/js/types/window.d.ts
Due: none

Fix frontend-backend mismatches found during implementation audit
  admin/js/pages/speech-analytics.ts
  pbx/api/routes/framework.py
  pbx/features/nomadic_e911.py
  pbx/features/speech_analytics.py
Due: unittests, REST API, Feature Modules

Fix backup verification: prevent false positives from non-database files
  scripts/verify_backup.py
Due: none

Fix admin UI loading spinners stuck on phones/ATAs pages
  admin/js/pages/phones.ts
  pbx/api/routes/phones.py
  pbx/api/routes/provisioning.py
Due: unittests, REST API

Add backward-compatible /api/registered-phones/atas route
  pbx/api/routes/provisioning.py
Due: unittests, REST API

Fix registered phones and ATAs pages stuck on loading spinner
  admin/js/pages/phones.ts
  pbx/api/routes/provisioning.py
Due: unittests, REST API

Fix provisioning tab: broken dropdowns, missing event handlers, wrong element IDs
  admin/js/pages/provisioning.ts
  admin/js/types/window.d.ts
Due: none

Fix provisioning API response format mismatches
  admin/js/pages/provisioning.ts
Due: none

Fix 49 frontend bugs across 9 modules: broken IDs, missing handlers, emoji fonts
  admin/css/admin.css
  admin/css/components.css
  admin/css/variables.css
  admin/js/pages/analytics.ts
  admin/js/pages/calls.ts
  admin/js/pages/config.ts
  admin/js/pages/emergency.ts
  admin/js/pages/extensions.ts
  admin/js/pages/paging.ts
  admin/js/pages/phones.ts
  admin/js/pages/security.ts
  admin/js/pages/voicemail.ts
  admin/js/types/window.d.ts
Due: none

Fix auto attendant, emergency, config, analytics ID mismatches and add global API_BASE
  admin/index.html
  admin/js/pages/analytics.ts
  admin/js/pages/config.ts
  admin/js/pages/emergency.ts
  admin/js/types/window.d.ts
Due: none

Tim Changes
  pbx/api/routes/provisioning.py
Due: unittests, REST API

Handle Yealink/Zultys common config and boot file requests gracefully
  pbx/api/routes/provisioning.py
  tests/test_api_provisioning_routes_coverage.py
Due: unittests, REST API

Serve rich common configs, boot files, and Warden VoIP wallpaper to phones
  pbx/api/routes/provisioning.py
  provisioning_templates/logo_128.jpg
  provisioning_templates/wallpaper_zip37g.jpg
  tests/test_api_provisioning_routes_coverage.py
Due: unittests, REST API

Fix ZIP 37G auth_name bug and sync built-in templates with external ones
  pbx/features/phone_provisioning.py
Due: unittests, Feature Modules

Overhaul all phone and ATA provisioning templates
  pbx/features/phone_provisioning.py
  provisioning_templates/cisco_spa504g.template
  provisioning_templates/grandstream_gxp2170.template
  provisioning_templates/grandstream_ht801.template
  provisioning_templates/grandstream_ht802.template
  provisioning_templates/polycom_vvx450.template
  provisioning_templates/yealink_t28g.template
  provisioning_templates/yealink_t46s.template
Due: unittests, Feature Modules

Bring all provisioning templates to 100% parity with universal branding
  pbx/api/routes/provisioning.py
  pbx/features/phone_provisioning.py
  provisioning_templates/cisco_ata191.template
  provisioning_templates/cisco_ata192.template
  provisioning_templates/cisco_spa112.template
  provisioning_templates/cisco_spa122.template
  provisioning_templates/grandstream_gxp2170.template
  provisioning_templates/polycom_vvx450.template
  provisioning_templates/wallpaper_warden.jpg
  provisioning_templates/yealink_t28g.template
  provisioning_templates/yealink_t46s.template
  tests/test_api_provisioning_routes_coverage.py
Due: unittests, REST API, Feature Modules

Remove manual configuration examples from Cisco ATA templates
  provisioning_templates/cisco_ata191.template
  provisioning_templates/cisco_ata192.template
Due: none

Remove all manual configuration examples from templates
  provisioning_templates/cisco_spa112.template
  provisioning_templates/grandstream_ht802.template
Due: none

Fix admin UI critical issues and complete 100% functionality audit
  admin/js/pages/calls.ts
  admin/js/pages/click-to-dial.ts
  admin/js/pages/config.ts
  admin/js/pages/emergency.ts
  admin/js/pages/paging.ts
  admin/js/pages/security.ts
  admin/js/pages/sip-trunks.ts
  admin/js/utils/debounce.ts
  pbx/api/routes/config.py
Due: unittests, REST API

Add comprehensive admin UI fix documentation
  ADMIN_UI_FIX_GUIDE.md
  SESSION_SUMMARY.md
Due: none

Fix: Add type="module" to script tags for ES module bundling
  admin/index.html
Due: none

Path conditions:
  unittests: any of: pbx/, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  Core PBX: any of: pbx/core/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  REST API: any of: pbx/api/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  SIP Protocol: any of: pbx/sip/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  Feature Modules: any of: pbx/features/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
