Repository mattiIce/PBX: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core PBX, REST API, SIP Protocol, Feature Modules

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error
        informational: false
    patch:
      default:
        target: 60%
        threshold: 10%
        if_ci_failed: error

comment:
  layout: "condensed_header,diff,flags,components,tree,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

ignore:
  - "tests/**"
  - "scripts/**"
  - "docs/**"
  - "admin/tests/**"
  - "**/__init__.py"

flags:
  unittests:
    paths:
      - pbx/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core PBX
      paths:
        - pbx/core/**
    - component_id: api
      name: REST API
      paths:
        - pbx/api/**
    - component_id: sip
      name: SIP Protocol
      paths:
        - pbx/sip/**
    - component_id: features
      name: Feature Modules
      paths:
        - pbx/features/**

Add T33G tests, fix WebRTC DTMF payload mismatch, reduce log noise
  pbx/core/pbx.py
  pbx/features/webrtc.py
  tests/test_dtmf_payload_type_passthrough.py
  tests/test_phone_model_codec_selection.py
Due: unittests, Core PBX, Feature Modules

yup
  ATA191-MPP_11-3-1MPP0001-191.cfg
Due: none

Fix test helper: add missing metrics attrs and correct PBXFlaskServer mock path
  tests/test_pbx_core_coverage.py
Due: none

Add multi-line (dual FXS port) support for Cisco ATA 191/192 provisioning
  pbx/api/routes/provisioning.py
  pbx/features/phone_provisioning.py
  pbx/utils/database.py
  provisioning_templates/cisco_ata191.template
Due: unittests, REST API, Feature Modules

Fix audio, calling, and ringing issues across all device types
  pbx/core/call_router.py
  pbx/core/pbx.py
  pbx/core/voicemail_handler.py
  pbx/rtp/handler.py
  pbx/sip/server.py
Due: unittests, Core PBX, SIP Protocol

Normalize line endings in ATA191 config file
  ATA191-MPP_11-3-1MPP0001-191.cfg
Due: none

Fix deep-rooted audio, calling, and protocol compliance issues
  pbx/core/call_router.py
  pbx/core/pbx.py
  pbx/features/webrtc.py
  pbx/rtp/handler.py
  pbx/sip/sdp.py
  pbx/sip/server.py
Due: unittests, Core PBX, SIP Protocol, Feature Modules

Fix provisioning templates, WebRTC codec support, and resource management
  pbx/core/auto_attendant_handler.py
  pbx/core/feature_initializer.py
  pbx/core/paging_handler.py
  pbx/features/webrtc.py
  pbx/rtp/handler.py
  provisioning_templates/grandstream_ht801.template
  provisioning_templates/grandstream_ht802.template
  provisioning_templates/zultys_zip33g.template
  provisioning_templates/zultys_zip37g.template
Due: unittests, Core PBX, Feature Modules

Fix WebRTC service bridge codec handling, voicemail bugs, and prompt paths
  pbx/features/voicemail.py
  pbx/features/webrtc.py
  pbx/utils/audio.py
Due: unittests, Feature Modules

Fix VAD causing audio clipping and sync built-in templates with file templates
  pbx/features/phone_provisioning.py
  provisioning_templates/yealink_t28g.template
  provisioning_templates/yealink_t46s.template
Due: unittests, Feature Modules

Fix wrong return type annotation on _build_response_handlers
  pbx/features/conversational_ai.py
Due: unittests, Feature Modules

Fix SIP server sending 200 OK when PBX core is unavailable
  pbx/sip/server.py
Due: unittests, SIP Protocol

Fix None value guards in auto attendant transfer and voicemail IVR
  pbx/core/auto_attendant_handler.py
  pbx/core/voicemail_handler.py
Due: unittests, Core PBX

Fix RTP layer bugs: timestamp calc, DTMF CSRC handling, SSRC, error handling
  pbx/rtp/handler.py
  pbx/rtp/rfc2833.py
Due: unittests

Fix SIP protocol bugs: header parsing, To-tag on 100 Trying, null checks
  pbx/sip/message.py
  pbx/sip/server.py
Due: unittests, SIP Protocol

Fix SIP server: guard Expires int() parse and increase UDP buffer
  pbx/sip/server.py
Due: unittests, SIP Protocol

Fix unguarded CSeq int() parsing in re-INVITE and ACK handlers
  pbx/sip/server.py
Due: unittests, SIP Protocol

Fix resource leaks: CDR records, RTP relays, and shutdown cleanup
  pbx/core/call_router.py
  pbx/core/emergency_handler.py
  pbx/core/pbx.py
Due: unittests, Core PBX

Fix remaining CDR leaks on dest-unavailable and WebRTC failure paths
  pbx/core/call_router.py
Due: unittests, Core PBX

Fix API route bugs: digit validation, trunk 400 status, MAC normalization
  pbx/api/routes/features.py
  pbx/api/routes/phones.py
Due: unittests, REST API

Fix feature module bugs: recording crash, parking slots, queue strategy
  pbx/features/call_parking.py
  pbx/features/call_queue.py
  pbx/features/call_recording.py
Due: unittests, Feature Modules

Fix auto attendant crash and RFC2833 receiver CSRC handling
  pbx/core/auto_attendant_handler.py
  pbx/rtp/rfc2833.py
Due: unittests, Core PBX

Fix RTP port leak in auto attendant setup failure path
  pbx/core/auto_attendant_handler.py
Due: unittests, Core PBX

Fix integration bugs: Outlook crash/tz, Matrix XSS, Zoom token loop
  pbx/integrations/matrix.py
  pbx/integrations/outlook.py
  pbx/integrations/zoom.py
Due: unittests

Fix VIP priority_level=0 filter and IP block timezone comparison
  pbx/utils/database.py
  pbx/utils/security.py
Due: unittests

Fix Kubernetes manifests: align env vars, probes, and ports with defaults
  kubernetes/deployment.yaml
  kubernetes/service.yaml
  kubernetes/servicemonitor.yaml
Due: none

Fix Docker volume paths, K8s ConfigMap, and DB defaults
  Dockerfile
  docker-compose.yml
  kubernetes/deployment.yaml
  pbx/utils/database.py
Due: unittests

Fix config key mismatches, DTMF provisioning, and trunk templates
  .env.example
  config_att_sip.yml
  config_comcast_sip.yml
  pbx/core/pbx.py
  pbx/features/phone_provisioning.py
  pbx/features/video_conferencing.py
Due: unittests, Core PBX, Feature Modules

new 33g pcap
  47.80.132.4_16_16_18.pcap
Due: none

37g syslog no audio heard
  syslog06mar26.tar
Due: none

Delete syslog.tar
  syslog.tar
Due: none

Delete syslog (2).tar
  syslog (2).tar
Due: none

Delete 47.80.132.4_17_22_7.pcap
  47.80.132.4_17_22_7.pcap
Due: none

Delete NEW syslog.tar
  NEW syslog.tar
Due: none

Fix no-audio bug: preserve SRTP protocol and crypto in SDP negotiation
  pbx/core/auto_attendant_handler.py
  pbx/core/call_router.py
  pbx/core/pbx.py
  pbx/core/voicemail_handler.py
  pbx/sip/sdp.py
  pbx/sip/server.py
Due: unittests, Core PBX, SIP Protocol

Fix provisioning URL format and RTP port conflict causing no-audio
  admin/index.html
  config.yml
  pbx/api/routes/provisioning.py
  pbx/core/voicemail_handler.py
  pbx/features/phone_provisioning.py
  scripts/setup_phone_provisioning.py
  test_config.yml
Due: unittests, Core PBX, REST API, Feature Modules

new logs for no audio
  33g1syslog.tar
  33g2syslog.tar
  37gsyslog.tar
  47.80.132.4_17_8_31.pcap
  47.80.132.4_17_8_42.pcap
Due: none

Fix no-audio on Zultys ZIP 33G/37G: mirror caller's rtpmap codec names in SDP
  pbx/core/call_router.py
  pbx/core/pbx.py
  pbx/sip/sdp.py
  pbx/sip/server.py
Due: unittests, Core PBX, SIP Protocol

Implement Warden SBC with admin UI, complete backend, and full API
  admin/index.html
  admin/js/main.js
  admin/js/pages/sbc-management.ts
  admin/js/types/window.d.ts
  admin/js/ui/tabs.ts
  admin/tests/sbc-management.test.js
  pbx/api/routes/framework.py
  pbx/core/feature_initializer.py
  pbx/features/session_border_controller.py
  tests/test_session_border_controller.py
Due: unittests, Core PBX, REST API, Feature Modules

Fix 404 Not Found on direct extension calls and Expires: 0 handling
  pbx/core/call_router.py
  pbx/core/pbx.py
Due: unittests, Core PBX
