Repository mattiIce/PBX: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core PBX, REST API, SIP Protocol, Feature Modules

Document admin.css CSS variable migration as technical debt
  CLAUDE.md
  admin/css/admin.css
Due: none

Expand Known Technical Debt section in CLAUDE.md
  CLAUDE.md
Due: none

Continue CSS variable migration: delete dark mode override block
  admin/css/admin.css
Due: none

Remove stale rest_api.py comment references
  pbx/api/routes/framework.py
  scripts/test_menu_endpoints.py
Due: unittests, REST API

Auto-run Alembic migrations on startup for git-pull deployments
  pbx/core/pbx.py
  scripts/deploy_production_pilot.sh
Due: unittests, Core PBX

docs: fix test file count and add Node.js to README requirements
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

Make initial Alembic migration idempotent for existing databases
  alembic/versions/001_initial_schema.py
Due: none

Remove remaining SQLite query branches from feature modules
  pbx/features/bi_integration.py
  pbx/features/call_quality_prediction_db.py
  pbx/features/callback_queue.py
  pbx/features/click_to_dial.py
  pbx/features/compliance_framework.py
  pbx/features/conversational_ai_db.py
  pbx/features/crm_integrations.py
  pbx/features/data_residency_controls.py
  pbx/features/emergency_notification.py
  pbx/features/extensions.py
  pbx/features/find_me_follow_me.py
  pbx/features/geographic_redundancy.py
  pbx/features/mfa.py
  pbx/features/mobile_push.py
  pbx/features/nomadic_e911.py
  pbx/features/phone_book.py
  pbx/features/predictive_dialing_db.py
  pbx/features/recording_announcements.py
  pbx/features/skills_routing.py
  pbx/features/speech_analytics.py
  pbx/features/team_collaboration.py
  pbx/features/video_conferencing.py
  pbx/features/voice_biometrics_db.py
  pbx/features/voicemail.py
  pbx/utils/security.py
Due: unittests, Feature Modules

Update CLAUDE.md counts to match current codebase
  CLAUDE.md
Due: none

Add unified production installer (install_production.py)
  Makefile
  scripts/install_production.py
Due: none

Fix venv creation when ensurepip is unavailable
  scripts/install_production.py
  scripts/setup_ubuntu.py
Due: none

Fix setup_ubuntu.py errors and add missing setup steps
  scripts/setup_ubuntu.py
Due: none

Fix production install scripts to be fully functional
  scripts/deploy_production_pilot.sh
  scripts/install_production.py
Due: none

Fix pbx.service not found after running install scripts
  scripts/deploy_production_pilot.sh
  scripts/install_production.py
  scripts/setup_ubuntu.py
Due: none

Fix undefined python_bin in initialize_database after alembic refactor
  scripts/install_production.py
Due: none

Update install_production.py
  scripts/install_production.py
Due: none

Fix pbx.service startup failure: wrong paths, missing deps, import ordering
  main.py
  pbx.service
  pbx/main.py
  scripts/setup_ubuntu.py
Due: unittests

Fix Alembic migration 203/EXEC failure on home directory installations
  pbx.service
  scripts/deploy_production_pilot.sh
  scripts/install_production.py
Due: none

Fix multiple runtime bugs and type safety issues across codebase
  pbx/api/utils.py
  pbx/core/auto_attendant_handler.py
  pbx/features/least_cost_routing.py
  pbx/features/stir_shaken.py
  pbx/features/video_codec.py
  pbx/integrations/active_directory.py
  pbx/integrations/lansweeper.py
  pbx/integrations/matrix.py
  pbx/integrations/outlook.py
  pbx/integrations/teams.py
  pbx/main.py
  pbx/rtp/rtcp_monitor.py
  pbx/sip/message.py
  pbx/utils/licensing.py
  pbx/utils/production_health.py
  provisioning_templates/acme_rocket.template
  tests/test_ad_extension_reload.py
Due: unittests, Core PBX, REST API, SIP Protocol, Feature Modules

Fix production install script to work from /root/PBX in or out of venv
  Makefile
  scripts/init_database.py
  scripts/install_production.py
Due: none

Fix backup script hardcoded DB name and TTS prompt output directories
  scripts/install_production.py
Due: none

Wire up Prometheus monitoring end-to-end
  config.yml
  docker-compose.yml
  grafana/dashboards/pbx-overview.json
  grafana/provisioning/dashboards/dashboards.yml
  grafana/provisioning/datasources/prometheus.yml
  kubernetes/servicemonitor.yaml
  pbx/api/app.py
  pbx/api/routes/auth.py
  pbx/api/routes/health.py
  pbx/core/pbx.py
  prometheus.yml
  tests/conftest.py
  tests/test_api_metrics_middleware.py
  tests/test_metrics_endpoint.py
Due: unittests, Core PBX, REST API

Fix PBX service startup failure (exit code 203/EXEC)
  .gitignore
  Makefile
  pbx-startup-tests.service
  pbx.service
  scripts/generate_service.py
  scripts/install_production.py
  scripts/pre-start.sh
  scripts/setup_ubuntu.py
Due: none

Fix systemd service installed with wrong filename (.generated suffix)
  scripts/generate_service.py
Due: none

Improve systemd service with graceful shutdown, port validation, and auto-enable
  pbx.service
  scripts/generate_service.py
  scripts/pre-start.sh
Due: none

Add crash-loop protection and pre-start dependency check
  pbx.service
  scripts/generate_service.py
  scripts/pre-start.sh
Due: none

Fix TypeScript build errors for debugLog/debugWarn globals
  admin/js/types/window.d.ts
  admin/js/ui/tabs.ts
Due: none

Fix debugLog/debugWarn global declarations for TypeScript modules
  admin/js/types/window.d.ts
Due: none

Fix Vite build entry point for login.html
  admin/vite.config.js
Due: none

Fix Vite build: copy non-module scripts to dist and set base path
  admin/vite.config.js
Due: none

Fix admin panel not displaying: missing CSS variables and wrong asset paths
  admin/css/admin.css
  admin/js/types/window.d.ts
  admin/js/ui/tabs.ts
  admin/vite.config.js
  package.json
Due: none

Fix AD connection hang: add timeouts and catch LDAP exceptions
  pbx/integrations/active_directory.py
Due: unittests

Fix pre-start crash: load .env for Alembic and make migrations non-fatal
  scripts/pre-start.sh
Due: none

Fix AD sync crash: typo "memberO" should be "memberOf"
  pbx/integrations/active_directory.py
Due: unittests

Add LDAPException to sync_users exception handler
  pbx/integrations/active_directory.py
Due: unittests

Fix AD sync 401: add missing auth headers to sync request
  admin/js/pages/dashboard.ts
Due: none

Add ipPhone fallback and debug logging for AD sync
  config.yml
  pbx/integrations/active_directory.py
Due: unittests

Add logging for AD sync early-exit conditions
  pbx/integrations/active_directory.py
Due: unittests

Path conditions:
  unittests: any of: pbx/, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  Core PBX: any of: pbx/core/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  REST API: any of: pbx/api/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  SIP Protocol: any of: pbx/sip/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  Feature Modules: any of: pbx/features/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
