Repository mattiIce/PBX: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core PBX, REST API, SIP Protocol, Feature Modules

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error
        informational: false
    patch:
      default:
        target: 60%
        threshold: 10%
        if_ci_failed: error

comment:
  layout: "condensed_header,diff,flags,components,tree,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

ignore:
  - "tests/**"
  - "scripts/**"
  - "docs/**"
  - "admin/tests/**"
  - "**/__init__.py"

flags:
  unittests:
    paths:
      - pbx/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core PBX
      paths:
        - pbx/core/**
    - component_id: api
      name: REST API
      paths:
        - pbx/api/**
    - component_id: sip
      name: SIP Protocol
      paths:
        - pbx/sip/**
    - component_id: features
      name: Feature Modules
      paths:
        - pbx/features/**

Add Yealink SIP-T23G provisioning template with full config support
  pbx/core/pbx.py
  pbx/features/phone_provisioning.py
  provisioning_templates/yealink_t23g.template
Due: unittests, Core PBX, Feature Modules

Delete 33g1syslog.tar
  33g1syslog.tar
Due: none

Delete syslog06mar26.tar
  syslog06mar26.tar
Due: none

Delete 33g2syslog.tar
  33g2syslog.tar
Due: none

Delete 37gsyslog.tar
  37gsyslog.tar
Due: none

Delete 47.80.132.4_16_16_18.pcap
  47.80.132.4_16_16_18.pcap
Due: none

Delete 47.80.132.4_17_8_31.pcap
  47.80.132.4_17_8_31.pcap
Due: none

Delete 47.80.132.4_17_8_42.pcap
  47.80.132.4_17_8_42.pcap
Due: none

33G No Audio
  000BEA85ED68.log
  000BEA85ED68.log.0
  000BEA85ED68.log.1
  webstep.log
Due: none

Fix no-audio on Zultys ZIP 33G/37G: mirror non-standard rtpmap codec names
  pbx/core/auto_attendant_handler.py
  pbx/core/call_router.py
  pbx/core/paging_handler.py
  pbx/core/pbx.py
  pbx/core/voicemail_handler.py
Due: unittests, Core PBX

Add files via upload
  syslog.tar
Due: none

Add files via upload
  000BEA85ED68.log
  000BEA85ED68.log.0
  lighttpd_error.log
  web.log
Due: none

Delete 000BEA85ED68.log.1
  000BEA85ED68.log.1
Due: none

Fix no-audio on Zultys ZIP 33G: use standard SDP codec names and correct provisioning keys
  pbx/sip/sdp.py
  provisioning_templates/yealink_t33g.template
  provisioning_templates/zultys_zip33g.template
  provisioning_templates/zultys_zip37g.template
Due: unittests, SIP Protocol

Add extracted phone log from syslog.tar for reference
  log/000BEA85ED68.log.0
Due: none

Fix Zultys 33G no-audio: apply rtpmap_overrides in SDP builder
  pbx/sip/sdp.py
  tests/test_sdp.py
Due: unittests, SIP Protocol

Fix ZIP 33G/37G no-audio: omit rtpmap for static PTs and fix codec handling
  pbx/core/auto_attendant_handler.py
  pbx/core/call_router.py
  pbx/core/paging_handler.py
  pbx/core/pbx.py
  pbx/core/voicemail_handler.py
  pbx/sip/sdp.py
  provisioning_templates/zultys_zip33g.template
  provisioning_templates/zultys_zip37g.template
Due: unittests, Core PBX, SIP Protocol

fix: use numbered codec slots in T33G provisioning template
  provisioning_templates/yealink_t33g.template
Due: none

Fix T33G no-audio: use numbered codec slots in provisioning
  provisioning_templates/yealink_t33g.template
Due: none

docs: audit documentation for factual accuracy; prune unimplemented features
  COMPLETE_GUIDE.md
  README.md
  Screenshot 2025-12-23 093019.png
  TROUBLESHOOTING.md
  admin/tests/README.md
  docs/ARCHITECTURE_DIAGRAMS.md
  docs/ARCHITECTURE_DIAGRAMS_GENERATION_GUIDE.md
  docs/CAPACITY_PLANNING.md
  docs/HA_DEPLOYMENT_GUIDE.md
  docs/OPERATIONS_RUNBOOK.md
  docs/PLANNED_FEATURES.md
  docs/reference/CALL_TAGGING_GUIDE.md
  docs/reference/DROPDOWN_DATABASE_INTEGRATION.md
  docs/reference/GEOGRAPHIC_REDUNDANCY_GUIDE.md
  docs/reference/MAC_TO_IP_CORRELATION.md
  docs/reference/MOBILE_APPS_GUIDE.md
  docs/reference/OPEN_SOURCE_AI_INTEGRATION_COMPLETE.md
  docs/reference/PHONE_BOOK_PAGING_API.md
  docs/reference/SIP_SEND_LINE_MAC_GUIDE.md
  docs/reference/VOICE_BIOMETRICS_GUIDE.md
  kubernetes/README.md
  provisioning_templates/README.md
  scripts/README_SECURITY_COMPLIANCE.md
  scripts/README_VOICE_GENERATION.md
  terraform/aws/README.md
Due: none

chore(deps): update Python dependencies
  requirements.txt
Due: none

ci(dependabot): ignore known-incompatible dependency majors
  .github/dependabot.yml
Due: none

ci: retire custom weekly dependency-updates workflow
  .github/workflows/dependency-updates.yml
  .gitignore
  CLAUDE.md
Due: none

ci: add SessionStart hook to pin web sessions to Python 3.13
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: none

ci: run the Python 3.13 SessionStart hook asynchronously
  .claude/hooks/session-start.sh
Due: none

Add full provisioning support for Cisco CP-8851-3PCC phones
  pbx/api/routes/provisioning.py
  pbx/core/pbx.py
  pbx/features/phone_provisioning.py
  provisioning_templates/README.md
  provisioning_templates/cisco_cp8851.template
  tests/test_phone_model_codec_selection.py
  tests/test_phone_provisioning_coverage.py
  tests/test_provisioning.py
Due: unittests, Core PBX, REST API, Feature Modules

Fix Bandit B406 by using html.escape instead of xml.sax.saxutils.escape
  pbx/features/phone_provisioning.py
Due: unittests, Feature Modules

Add route-level tests for Cisco 3PCC provisioning paths
  tests/test_api_provisioning_routes_coverage.py
Due: none
