Repository mattiIce/PBX: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core PBX, REST API, SIP Protocol, Feature Modules

Fix WebRTC phone: no audio due to stale dist, add ringback tone and call status polling
  admin/dist/js/webrtc_phone.js
  admin/js/webrtc_phone.js
  pbx/api/routes/webrtc.py
Due: unittests, REST API

Troubleshooting Logs
  syslog (2).tar
  syslog.tar
Due: none

New log File
  syslog.tar
Due: none

after reboot
  NEW syslog.tar
Due: none

Add post-reboot logs from 37G phone - issue persists
  NEW syslog.tar
Due: none

Fix phone registration using Contact header address instead of UDP source port
  pbx/core/pbx.py
  tests/test_pbx_core_coverage.py
Due: unittests, Core PBX

Update CLAUDE.md: fix outdated Alembic migration count
  CLAUDE.md
Due: none

Resolve technical debt: remove CSP unsafe-inline for scripts, fix SELECT *
  CLAUDE.md
  admin/css/admin.css
  admin/css/login.css
  admin/index.html
  admin/js/api-config.js
  admin/js/chartjs-loader.js
  admin/js/debug-logger.js
  admin/js/login.js
  admin/js/page-verify.js
  admin/js/sidebar-toggle.js
  admin/login.html
  apache-pbx.conf.example
  pbx/api/app.py
  pbx/features/data_residency_controls.py
  pbx/features/speech_analytics.py
  tests/test_csp_header.py
Due: unittests, REST API, Feature Modules

Extract inline scripts/styles from 404.html and status-check.html, restore unsafe-inline for script-src due to onclick handlers
  CLAUDE.md
  admin/404.html
  admin/css/404.css
  admin/css/status-check.css
  admin/js/status-check.js
  admin/status-check.html
  apache-pbx.conf.example
  pbx/api/app.py
  tests/test_csp_header.py
Due: unittests, REST API

Fix build script to copy all JS files to admin/dist/js/
  package.json
Due: none

Update tracked build artifacts after rebuild
  admin/dist/assets/login-wZrrZHzA.css
  admin/dist/assets/main-BV5_RpmI.js
  admin/dist/assets/main-CwqvUibD.js
  admin/dist/assets/main-DRRly70g.css
  admin/dist/assets/main-DVqYDz5R.css
  admin/dist/index.html
  admin/dist/js/api-config.js
  admin/dist/js/auto_attendant.js
  admin/dist/js/chartjs-loader.js
  admin/dist/js/debug-logger.js
  admin/dist/js/framework_features.js
  admin/dist/js/login.js
  admin/dist/js/main.js
  admin/dist/js/opensource_integrations.js
  admin/dist/js/page-verify.js
  admin/dist/js/sidebar-toggle.js
  admin/dist/js/status-check.js
  admin/dist/js/webrtc_phone.js
  admin/dist/login.html
Due: none

Improve admin interface accessibility, consolidate shared utilities
  admin/css/components.css
  admin/dist/assets/main-BV5_RpmI.js
  admin/dist/assets/main-DVqYDz5R.css
  admin/dist/index.html
  admin/dist/js/auto_attendant.js
  admin/dist/js/framework_features.js
  admin/dist/js/opensource_integrations.js
  admin/dist/js/voicemail_enhanced.js
  admin/dist/js/webrtc_phone.js
  admin/dist/login.html
  admin/index.html
  admin/js/main.js
  admin/js/pages/analytics.ts
  admin/js/pages/call-routing.ts
  admin/js/pages/config.ts
  admin/js/pages/dashboard.ts
  admin/js/pages/emergency.ts
  admin/js/pages/extensions.ts
  admin/js/pages/provisioning.ts
  admin/js/pages/recordings.ts
  admin/js/pages/sip-trunks.ts
  admin/js/types/window.d.ts
  admin/js/ui/modal.ts
  admin/js/ui/notifications.ts
  admin/js/ui/tabs.ts
  admin/js/utils/dom.ts
  admin/js/utils/html.ts
  admin/login.html
Due: none

Fix duplicate Flask endpoint name causing startup crash
  pbx/api/routes/webrtc.py
Due: unittests, REST API

Fix admin build warnings by adding type="module" to unbundled script tags
  admin/index.html
  admin/js/api-config.js
  admin/login.html
Due: none

Update build artifacts after module script fix
  admin/dist/assets/main-CwqvUibD.js
  admin/dist/index.html
  admin/dist/js/api-config.js
  admin/dist/login.html
Due: none

Fix web phone showing connected before remote party answers
  admin/js/webrtc_phone.js
Due: none

Fix missing ringback tone and route WebRTC calls to auto attendant
  admin/dist/js/webrtc_phone.js
  admin/js/webrtc_phone.js
  pbx/api/routes/webrtc.py
  pbx/features/webrtc.py
Due: unittests, REST API, Feature Modules

Route WebRTC calls to voicemail, paging, and auto attendant services
  pbx/features/webrtc.py
  tests/test_webrtc_voicemail.py
Due: unittests, Feature Modules

Fix PR #568: implement missing voicemail/paging routing, fix call status polling
  admin/dist/js/webrtc_phone.js
  admin/js/webrtc_phone.js
  pbx/api/routes/webrtc.py
  pbx/features/webrtc.py
  tests/test_webrtc_voicemail.py
Due: unittests, REST API, Feature Modules

Fix WebRTC call-status endpoint returning wrong field name causing persistent ringing
  pbx/api/routes/webrtc.py
Due: unittests, REST API

Fix database connection breaking after any query error in autocommit mode
  pbx/utils/database.py
  tests/test_database_coverage.py
Due: unittests

Fix WebRTC never-ending ringing for all call types
  admin/js/webrtc_phone.js
  pbx/core/call_router.py
Due: unittests, Core PBX

Fix WebRTC audio static by filtering non-audio RTP and fixing frame timing
  pbx/features/webrtc.py
Due: unittests, Feature Modules

Fix outdated counts and service lists across documentation
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/ARCHITECTURE_DIAGRAMS.md
  scripts/README.md
Due: none

Fix database connection resilience: safe rollback and auto-reconnection
  pbx/utils/database.py
Due: unittests

Fix page stuck on "Connecting..." by running connection check immediately
  admin/css/admin.css
  admin/css/components.css
  admin/index.html
  admin/js/main.js
Due: none

Fix non-functional analytics tab: add missing API endpoint and fix frontend
  admin/js/pages/analytics.ts
  pbx/api/routes/calls.py
Due: unittests, REST API

Fix broken tab functionality: wire missing loaders and add backend endpoints
  admin/js/pages/click-to-dial.ts
  admin/js/pages/config.ts
  admin/js/pages/extensions.ts
  admin/js/pages/recordings.ts
  admin/js/pages/security.ts
  admin/js/pages/speech-analytics.ts
  pbx/api/routes/config.py
  pbx/api/routes/paging.py
  pbx/api/routes/provisioning.py
Due: unittests, REST API

Fix additional frontend-backend endpoint mismatches
  admin/js/framework_features.js
  admin/js/pages/analytics.ts
  admin/js/pages/emergency.ts
  admin/js/pages/extensions.ts
  pbx/api/routes/framework.py
  pbx/api/routes/voicemail.py
Due: unittests, REST API

Fix 5 remaining broken tabs: expose module-scoped functions to window
  admin/js/auto_attendant.js
  admin/js/opensource_integrations.js
Due: none

Fix phone calling issue: calls stuck on "Calling..." forever
  pbx/core/call.py
  pbx/core/call_router.py
  pbx/core/pbx.py
  pbx/features/extensions.py
  pbx/sip/server.py
  pbx/sip/transaction.py
  tests/test_call_router_coverage.py
  tests/test_registration_expiry.py
  tests/test_sip_transaction.py
Due: unittests, Core PBX, SIP Protocol, Feature Modules

Cancel INVITE retransmission in all call teardown paths
  pbx/core/call_router.py
  pbx/core/pbx.py
  pbx/sip/server.py
Due: unittests, Core PBX, SIP Protocol

Rebuild frontend dist to sync with latest source changes
  admin/dist/assets/login-Dzg_5R2O.js
  admin/dist/assets/main-DAjFpoIq.js
  admin/dist/assets/main-DRRly70g.css
  admin/dist/assets/main-DUp4ASRE.css
  admin/dist/assets/modulepreload-polyfill-B5Qt9EMX.js
  admin/dist/index.html
  admin/dist/js/auto_attendant.js
  admin/dist/js/framework_features.js
  admin/dist/js/main.js
  admin/dist/js/opensource_integrations.js
  admin/dist/js/webrtc_phone.js
Due: none

pcap 33g
  47.80.132.4_17_22_7.pcap
Due: none

Fix ZIP 33G registration loop and missing NOTIFY responses
  pbx/sip/message.py
  pbx/sip/server.py
  provisioning_templates/zultys_zip33g.template
  tests/test_sip_message_coverage.py
Due: unittests, SIP Protocol

Update zultys_zip33g.template
  provisioning_templates/zultys_zip33g.template
Due: none

Fix phone codec negotiation and WebRTC call routing
  pbx/core/pbx.py
  pbx/features/webrtc.py
  tests/test_dtmf_payload_type_passthrough.py
  tests/test_pbx_core_coverage.py
  tests/test_phone_model_codec_selection.py
Due: unittests, Core PBX, Feature Modules

Add phone model detection for T46S/T46G/T28G and codec mismatch logging
  pbx/core/call_router.py
  pbx/core/pbx.py
  tests/test_pbx_core_coverage.py
  tests/test_phone_model_codec_selection.py
Due: unittests, Core PBX

ATA191
  ATA191-MPP_11-3-1MPP0001-191.cfg
Due: none

Fix resource leak in WebRTC call routing failure path
  pbx/core/call_router.py
Due: unittests, Core PBX

Path conditions:
  unittests: any of: pbx/, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  Core PBX: any of: pbx/core/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  REST API: any of: pbx/api/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  SIP Protocol: any of: pbx/sip/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
  Feature Modules: any of: pbx/features/**, but not: tests/**, scripts/**, docs/**, admin/tests/**, **/__init__.py
