Repository mattiIce/PBX: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core PBX, REST API, SIP Protocol, Feature Modules

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error
        informational: false
    patch:
      default:
        target: 60%
        threshold: 10%
        if_ci_failed: error

comment:
  layout: "condensed_header,diff,flags,components,tree,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

ignore:
  - "tests/**"
  - "scripts/**"
  - "docs/**"
  - "admin/tests/**"
  - "**/__init__.py"

flags:
  unittests:
    paths:
      - pbx/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core PBX
      paths:
        - pbx/core/**
    - component_id: api
      name: REST API
      paths:
        - pbx/api/**
    - component_id: sip
      name: SIP Protocol
      paths:
        - pbx/sip/**
    - component_id: features
      name: Feature Modules
      paths:
        - pbx/features/**

Update CLAUDE.md to reflect current codebase state
  CLAUDE.md
Due: none

Update documentation with accurate module and test counts
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

Add comprehensive system architecture diagrams
  docs/DETAILED_COMPONENT_DIAGRAMS.md
  docs/SYSTEM_ARCHITECTURE.md
Due: none

Consolidate architecture diagrams into unified documents
  docs/ARCHITECTURE_DIAGRAMS.html
  docs/ARCHITECTURE_DIAGRAMS.md
  docs/ARCHITECTURE_DIAGRAMS_GENERATION_GUIDE.md
  docs/DETAILED_COMPONENT_DIAGRAMS.md
  docs/SYSTEM_ARCHITECTURE.md
Due: none

Fix: Add type="module" to script tags for ES module bundling
  admin/index.html
Due: none

Add API route to serve architecture diagrams
  pbx/api/routes/docs.py
Due: unittests, REST API

Fix: Correct path resolution for architecture diagrams file
  pbx/api/routes/docs.py
Due: unittests, REST API

Improve: Use pbx package location for robust path resolution
  pbx/api/routes/docs.py
Due: unittests, REST API

Add comprehensive logging to architecture diagrams route
  pbx/api/routes/docs.py
Due: unittests, REST API

Fix circular imports between pbx.core and pbx.api modules
  pbx/api/__init__.py
  pbx/api/server.py
  pbx/core/pbx.py
Due: unittests, Core PBX, REST API

Fix Prometheus exporter label cardinality explosion
  pbx/utils/prometheus_exporter.py
  tests/test_prometheus_exporter_coverage.py
Due: unittests

Fix dark mode compatibility in provisioning tab and forms
  admin/css/admin.css
  admin/css/components.css
Due: none

Comprehensive dark mode CSS fixes across all admin stylesheets
  admin/css/admin.css
  admin/css/base.css
  admin/css/components.css
  admin/css/layout.css
Due: none

Fix 37G registration by disabling unused line keys
  pbx/features/phone_provisioning.py
  provisioning_templates/zultys_zip33g.template
  provisioning_templates/zultys_zip37g.template
Due: unittests, Feature Modules

Fix remaining 14+ critical dark mode issues in CSS
  admin/css/admin.css
  admin/css/base.css
  admin/css/components.css
  admin/css/layout.css
Due: none

Add dark mode themed utility classes and fix inline styles in JS
  admin/css/components.css
  admin/js/auto_attendant.js
  admin/js/framework_features.js.bak
Due: none

Remove backup file
  admin/js/framework_features.js.bak
Due: none

Configure unused line keys for paging instead of disabling
  pbx/features/phone_provisioning.py
  provisioning_templates/zultys_zip33g.template
  provisioning_templates/zultys_zip37g.template
Due: unittests, Feature Modules

Massive dark mode CSS overhaul - replace 100+ hardcoded colors
  admin/css/admin.css
  admin/css/components.css
  admin/css/layout.css
  admin/js/framework_features.js
Due: none

Fix final batch of hardcoded Material Design colors to CSS variables
  admin/css/admin.css
  admin/js/framework_features.js
Due: none

Fix device registration database schema mismatch
  pbx/utils/database.py
Due: unittests

Fix SIP message to end with CRLFCRLF per RFC 3261
  pbx/sip/message.py
  tests/test_sip_message_coverage.py
Due: unittests, SIP Protocol

Fix 401 registration error for ZIP 33G and 37G phones
  alembic/versions/002_add_sip_password_field.py
  pbx/features/extensions.py
  pbx/features/phone_provisioning.py
  pbx/models/extension.py
  pbx/sip/server.py
  pbx/utils/database.py
Due: unittests, SIP Protocol, Feature Modules

Fix provisioning templates initialization and iteration
  pbx/features/phone_provisioning.py
Due: unittests, Feature Modules

Fix phone registration errors caused by suppressed UNIQUE constraint violations
  pbx/utils/database.py
Due: unittests

Fix phone registration and incoming call routing
  pbx/core/call_router.py
Due: unittests, Core PBX

Fix PBX main.py startup issues
  pbx/main.py
Due: unittests

Fix webphone audio: add ringback tone, DTMF feedback, and call-status polling
  admin/js/webrtc_phone.js
  pbx/api/routes/webrtc.py
Due: unittests, REST API

Fix T33G audio codec negotiation, ringing, and error forwarding
  pbx/core/call_router.py
  pbx/core/pbx.py
  pbx/features/phone_provisioning.py
  pbx/sip/server.py
  provisioning_templates/yealink_t33g.template
Due: unittests, Core PBX, SIP Protocol, Feature Modules

Fix 38 bugs across codebase: security, logic errors, protocol issues
  admin/js/auto_attendant.js
  admin/js/framework_features.js
  admin/js/main.js
  admin/js/opensource_integrations.js
  admin/js/pages/voicemail.ts
  pbx/api/routes/emergency.py
  pbx/api/routes/security.py
  pbx/api/routes/voicemail.py
  pbx/api/utils.py
  pbx/core/auto_attendant_handler.py
  pbx/core/paging_handler.py
  pbx/core/pbx.py
  pbx/core/voicemail_handler.py
  pbx/features/call_parking.py
  pbx/features/call_recording_analytics.py
  pbx/features/conversational_ai.py
  pbx/features/crm_integration.py
  pbx/features/dnd_scheduling.py
  pbx/features/extensions.py
  pbx/features/mfa.py
  pbx/features/predictive_dialing.py
  pbx/features/recording_retention.py
  pbx/features/sso_auth.py
  pbx/features/statistics.py
  pbx/features/voice_biometrics.py
  pbx/features/voicemail.py
  pbx/integrations/active_directory.py
  pbx/integrations/jitsi.py
  pbx/integrations/lansweeper.py
  pbx/integrations/matrix.py
  pbx/integrations/outlook.py
  pbx/rtp/handler.py
  pbx/rtp/rfc2833.py
  pbx/sip/server.py
  pbx/utils/licensing.py
  pbx/utils/production_health.py
  pbx/utils/security.py
  pbx/utils/session_token.py
Due: unittests, Core PBX, REST API, SIP Protocol, Feature Modules

Fix RTP bugs: socket timeout, timestamp wraparound, stereo downmix, null checks
  pbx/rtp/handler.py
  pbx/rtp/jitter_buffer.py
  pbx/rtp/rfc2833.py
Due: unittests

Fix 35+ bugs: SIP protocol, security, XSS, auth, crash, resource leaks
  admin/js/auto_attendant.js
  admin/js/framework_features.js
  admin/js/opensource_integrations.js
  admin/js/webrtc_phone.js
  pbx/api/routes/calls.py
  pbx/api/routes/config.py
  pbx/api/routes/extensions.py
  pbx/api/routes/license.py
  pbx/api/routes/provisioning.py
  pbx/api/routes/security.py
  pbx/api/routes/webrtc.py
  pbx/core/auto_attendant_handler.py
  pbx/core/call_router.py
  pbx/core/pbx.py
  pbx/integrations/jitsi.py
  pbx/integrations/lansweeper.py
  pbx/integrations/outlook.py
  pbx/sip/message.py
  pbx/sip/server.py
  pbx/utils/database.py
  pbx/utils/production_health.py
  scripts/health_monitor.py
  scripts/production_health_check.py
  scripts/request_ca_cert.py
Due: unittests, Core PBX, REST API, SIP Protocol

Fix 6 feature module bugs: crash, silent failures, resource leaks
  pbx/features/call_quality_prediction.py
  pbx/features/dns_srv_failover.py
  pbx/features/emergency_notification.py
  pbx/features/find_me_follow_me.py
  pbx/features/presence.py
Due: unittests, Feature Modules

Fix 15 bugs from verification pass: crashes, XSS, auth, protocol issues
  admin/js/pages/extensions.ts
  admin/js/utils/html.ts
  pbx/api/routes/framework.py
  pbx/core/call_router.py
  pbx/core/emergency_handler.py
  pbx/features/call_queue.py
  pbx/features/dns_srv_failover.py
  pbx/rtp/handler.py
  pbx/rtp/rtcp_monitor.py
  pbx/sip/sdp.py
  pbx/sip/server.py
Due: unittests, Core PBX, REST API, SIP Protocol, Feature Modules

Fix 5 remaining bugs: UTF-8 decode crash, timer leak, type mismatches, SIP parsing
  pbx/core/call.py
  pbx/core/pbx.py
  pbx/features/call_queue.py
  pbx/sip/message.py
  pbx/sip/server.py
Due: unittests, Core PBX, SIP Protocol, Feature Modules

Fix 10 bugs: emergency 200 OK, XSS, auth bypass, socket leaks, memory leak
  admin/js/framework_features.js
  admin/js/opensource_integrations.js
  pbx/api/routes/security.py
  pbx/core/call.py
  pbx/core/emergency_handler.py
  pbx/features/dns_srv_failover.py
  pbx/features/presence.py
  pbx/sip/message.py
  pbx/sip/server.py
Due: unittests, Core PBX, REST API, SIP Protocol, Feature Modules

Fix 8 more bugs: Content-Length byte count, XSS escaping, type validation
  admin/js/framework_features.js
  admin/js/opensource_integrations.js
  pbx/core/emergency_handler.py
  pbx/core/pbx.py
  pbx/sip/server.py
Due: unittests, Core PBX, SIP Protocol

Fix type annotations in call_queue: enqueue return type, get_all_status return type
  pbx/features/call_queue.py
Due: unittests, Feature Modules

Fix supported phone vendors not loading in provisioning page
  admin/js/pages/provisioning.ts
  pbx/api/routes/provisioning.py
Due: unittests, REST API

Fix webphone audio: ICE gathering, STUN config, sample rate, and resampling
  admin/js/webrtc_phone.js
  pbx/features/webrtc.py
Due: unittests, Feature Modules
